# Developer tools support
**/target-eclipse
**/.project
**/.settings/
**/.classpath
.idea

# Added at runtime
**/target/
web-app/WEB-INF/classes/
web-app/uploads/
logs/
out/
null/
**/casperjs.log
stacktrace.log

# Build artefacts
*.pyc
*.iml
*.ipr	
*.iws
