/* override main.css
 * some colors from http://colorschemedesigner.com/#3p31T--qjw0w0
 */
html {
	background-color: #fcfcfc;
	margin: 0;
}

body.admin {
	width: auto;
	position: relative;
    color: #383838;
    font: 11px verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    background: none;
}

/* ADMIN SPEFICIC */
body > * {
	position: relative;
	width: auto;
}

body.admin > header {
	/*border-bottom: solid 1pt;*/
	width: 980px;
	margin: 0 0 20px 10px;
	position: relative;
}

body > header > nav.logout {
	position: absolute;
	top: 0px;
	right: 0px;
}

#adminPages {
	padding: 20px 20px 20px 10px;
	/*float: left;
	margin: 0;*/
	width: 200px;
	top: 80px;
	left: 0px;
	position: absolute;
}

#adminFunctions {
	padding: 0 20px 20px 10px;
	/*float: left;
	margin: 0;*/
	width: 770px;
	top: 0;
	left: 220px;
	position: absolute;
}

#bodyContent {
	/*float: left;
	margin-left: 20px;*/
	position: absolute;
	left: 220px;
	top: 80px;
	padding: 20px;
	background-color: #fff;
	width: 770px;
	-webkit-box-shadow: 2px 2px 6px #ccc;
	-moz-box-shadow: 1px 1px 6px #ccc;
	box-shadow: 2px 2px 6px #ccc;
}


ul {
    margin-left: 0;
    padding: 0pt;
    list-style-type: none;
}

/* =adminFunctions */
#adminFunctions > ul > li {
	float: left;
	margin-right: 1em;
}

#adminFunctions > ul > li strong {
	cursor: default;
}

#adminFunctions > ul > li ul {
	display: none;
	position: absolute;
	z-index: 10;
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 6px #ccc;
	-moz-box-shadow: 1px 1px 6px #ccc;
	box-shadow: 2px 2px 6px #ccc;
	padding: 1em;
}

/* =adminPages */
#adminPages h2, #adminPages h3 {
	color: #873960;
}

#adminPages .buttons {
	margin-top: 0;
}

#pageTree {
	margin-top: 1em;
	background-color: #fff;
}

#pageTree a { white-space:normal !important; height: auto; padding:1px 2px; } 
#pageTree li > ins { vertical-align:top; }
#pageTree li.metaPage {background-image: none;}

#pageTree.jstree li.metaPage > ul li {margin-left: 0;}
#pageTree > ul > li.metaPage ul {margin-left: 5px; background-color: #fff;}
#pageTree > ul > li.metaPage ul ul {margin-left: 18px;}
#pageTree > ul > li.metaPage li.metaPage a {margin-left: 5px; font-weight: bold;}

#pageTree > ul > li.metaPage {background-color: #eee; margin: 5px 0; background-image: none;}
#pageTree li.metaPage > ins { display: none; }
#pageTree > ul > li.metaPage > a {font-size: 1.1em; font-weight: bold; display: block; padding: 5px 10px;}

#pageTree.jstree-default > ul > li,
#pageTree > ul > li.jstree-leaf > ins.jstree-icon {background-image: none;}




#pageTree li.metaPage > a> ins.jstree-icon,
#pageTree li.metaPage.jstree-open > ins.jstree-icon {display: none; }
#pageTree .jstree-hovered, #demo4 .jstree-clicked { border:0; }

#quickSearch {
	margin-top: 20px;
}

#quickSearch #search {
	margin-left: 0.5em;
	width: auto;
	height: auto;
	padding: 2px;
}

/* =BODYCONTENT */
#bodyContent .content {
	width: 510px;
	float: left;
	margin: 0 10px 0 0;
}

#bodyContent .message, #bodyContent .errors {
	width: 740px;
	border: 1px dotted #ccc;
	padding: 1em;
}

#bodyContent .message {
	background-color: #E8C369;
	margin: 0 0 1em 0;
}

#bodyContent .errors {
	background-color: #E87C69;
}

#bodyContent form {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: none;
}

#bodyContent form .content #h1 {
    width: 100%;
    font-size: 3.2em;
    font-style: italic;
    color: #888;
    display: none;
}

#bodyContent form.create .content #h1 {
    display: block;
}

#bodyContent form .content h1 {
    margin: 0;
}

#bodyContent form.create .content h1 {
    display: none;
}

#bodyContent form .content .title {
    margin: 0 0 20px 0;
    font-style: italic;
}

#bodyContent form.create .content .title {
    display: none;
}

#bodyContent form .content .title input {
    width: 100%;
    display: none;
}


#bodyContent form .content .permalink {
    font-style: italic;
    color: #888;
}

#bodyContent form .content .permalink #permalink {
    width: auto;
}

#bodyContent form.create .content .permalink {
    display: none;
}

#bodyContent form .content #content {
    width: 100%;
    height: 400px;
}

#bodyContent form .content .mceEditor.input {
    margin-top: 20px;
}

#bodyContent form .revisions {
	width: 100%;
	clear: both;
	float: none;
	margin-top: 3em;
}

#bodyContent form .aside {
	float: left;
	width: 220px;
	margin: 1.5em 0 10px 10px;
	padding-left: 10px;
	border-left: 1px dotted #ccc;
}

#bodyContent form .aside input[type=text] {
	width: auto;
}

#bodyContent form .aside.buttons {
	text-align: right;
	clear: none;
	width: 220px;
}

#puffs {
	width: 100%;
	margin-bottom: 0em;
}

#puffs input, #puffs select, #puffs textarea {
	width: auto;
}

#puffs textarea {
	width: 30em;
}

#puffs tr {
	padding: 1em;
	background-color: #fff;
}

#puffs td[colspan] {
	border: none;
}

#puffs tr:nth-child(4n+2), #puffs tr:nth-child(4n+3) {
	background-color: #fafafa;
	border-top: 1px solid #eee;
}

#puffs .buttons {
	margin-top: 0em;
}

.puffsButton {
	margin-top: 0em;
	margin-bottom: 1.5em;
}

/* ACTION BUTTONS */

/*.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}*/

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit, .buttons input.update {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.add {
	background: transparent url(../images/skin/database_add.png) 5px 50% no-repeat;
    padding-left: 28px;
}

/* Inputs and selects */
input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 30em;
	height: 6em;
	vertical-align: top;
}

input.wideInput {
	width: 40em;
}
textArea.bigArea {
	width: 40em;
	height:25em;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}