#search .input {height: 30px;width: 312px;padding: 5px 0 5px 0;border: 1px solid #ddd;display: block;float: left;background-color: #eee;}
#query {
	*padding-left: 1em; 
}
#search {z-index: 12;
	*top: 5em;
	*position: relative;
}
#siteHeader {z-index: 13;
	*left: 40px;
}
#searchCurrentCategory {
	left: 10px;
}
#search #query {padding: 0; margin: 2px 5px; width:290px;}
#search #searchCategory {z-index: 11; position: relative; padding: 5px 5px 5px 10px;}
#search div.input, #searchSubmit {
	background: url(../images/ddd-fff-gradient-40px.png) repeat-x;
}

#siteHeader > p.extSearchLabel {
	*position: relative;
	*top: 5em;
}
#siteFooter ul {
	*width: 25%;	
}
#siteFooter ul li {
	*margin: 0;
}
#content {*top: 4em;}
body {z-index: 14; position: relative;}
.extendedSearch > label {width: auto;}

ul.dropdown ul li { 
	*display: inline; 
	*width: 100%; 
	} 

#pageTree > ul > li.metaPage li.metaPage ul li a {font-weight: normal;}
