/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td {
  border:0pt none;
  font-family:inherit;
  font-size:100%;
  font-style:inherit;
  font-weight:inherit;
  margin:0pt;
  padding:0pt;
  vertical-align:baseline;
}

/* HTML5 tags */
header, section, footer, aside, nav, article, figure, legend {
    display: block;
}

/* lagrummet.se */
html {
	background-color: #fff;
	margin: 0;
}

body {
    position: relative;
    width: 980px;
    margin: 0 auto 0 auto;
    padding: 5px 0 0 0;
    position: relative;
    font: 12px verdana, arial, helvetica, sans-serif;
    line-height: 140%;
    font-size: 12px;
	background: url(../images/top_ribbon.png) no-repeat;
}

a {
    text-decoration: none;
    color: #006383;
}

a:visited {
    color: #195062;
}

a:hover {
    text-decoration: underline;
    color: #006383;
}

h1, h2, h3, h4,h1 a, h2 a, h3 a, h4 a {
    margin: 0.75em 0 0.25em 0;
    color: #873960;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    clear: both;
    text-decoration: none;
    line-height: 110%;
}

h1 a, h2 a, h3 a, h4 a, h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited {
    color: #006383;
}

h1 {
	margin: 0 0 1em 0;
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

p {
	margin-top: 1em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.target {
	cursor: pointer;
}

.hidden {
	display: none;
}

.break {
	clear: both;
}

ul {
    margin-left: 0;
    list-style-type: none;
}

ul li {
    padding: 2px 0;
}

table {
	width: auto;
	margin-bottom: 2em;
	background-color: #fff;
	border-spacing: 0;
}

tr {
    border: 0;
}

tr:nth-child(even) {
	background-color: #fafafa;
	border-top: 1px solid #eee;
}

td, th {
	padding: 5px;
}

td {
    border-top: 1px solid #eee;
}

th {
    font-weight: bold;
    text-align: left;
}

/*body > * {
    position: relative;
    width: 980px;
    margin: 0 auto 0 auto;
    padding: 0;
}*/

/* =FORMS */
form label {
	width: 100%;
	display: block;
}

form .buttons {
	width: 100%;
	clear: both;
	margin-top: 1.5em;
}

form .input {
	clear: both;
	display: block;
	margin-top: 1.5em;
}

form .input:first-child {
	margin-top: 0;
}

fieldset .legend {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 1em 1em 1em;
}

a.nextLink {
	margin-left: 0.75em;
}

a.step, .currentStep {
	margin-left: 0.5em;
}

/* =HEADER */
#siteHeader {
	width: 720px;
	position: relative;
	margin-left: 40px;
	left: 220px;
}

#siteHeader > p.extSearchLabel {
	float: right;
	margin-bottom: 1em;
}

#logo {
    width: 220px;
    float: left;
    margin-top: 20px;
    padding: 0;
    display: block;
    color: #222;
    font: 1.6em 'Century Gothic', sans-serif;
    /*padding: 55px 10px 45px 10px;*/
}

#logo a, #logo a:visited {
	color: #873960;
}

#logo a .hlight, #logo a .hlight {
    color: #585858;
}

#mobileNavLink {
	display: none;	
}

#sitelinks {
    position: absolute;
    top: 0px;
    right: 0px;
}

#sitelinks ul li {
	float: left;
	margin: 5px 0 0 5px;
	padding-left: 10px;
	border-left: 1px solid #006383;
}

#sitelinks ul li:first-child {
	border-left: none;
}

#sitelinks a, #sitelinks a:visited {
    font: 1em 'Century Gothic', sans-serif;
    color: #006383;
    margin-right: 10px;
}

#breadcrumbs {
	clear: both;
	margin: 2em 0 1em 0;
	font: 1.2em 'Century Gothic', sans-serif;
}

#siteFooter {
    width: 100%;
    clear: both;
    text-align: right;
}

a.print:visited {
	color: #006383;
}

/* =CONTENT WRAPPER */
#content {
	position: relative;
	left: 220px;
	margin-left: 40px;
	width: 720px;
	clear: both;
}

/* =PRIMARY NAVIGATION */
#primaryNavigation {
	position: absolute;
	left: 0;
	top: 60px;
	width: 220px;
	margin: 0;
	display: block;
	min-height: 250px;
	background-color: #fcfcfc;
	/*-webkit-box-shadow: 2px 2px 6px #ccc;
	-moz-box-shadow: 1px 1px 6px #ccc;
	box-shadow: 2px 2px 6px #ccc;
	-moz-border-radius: 10px;
	border-radius: 10px;*/
}

#primaryNavigation ul li {
	margin: 10px;
	border-bottom: 2px groove #fff;
}

#primaryNavigation ul li a, #primaryNavigation ul li a:visited {
	color: #585858;
}

#primaryNavigation ul li:hover {
	background-color: #f5f5f5;
}

#primaryNavigation ul li.active {
	background-color: #e7e7e7;
}

#primaryNavigation ul li.heading {
	font: 1.4em 'Century Gothic', sans-serif;
	font-weight: bold;
	margin: 20px 0 0 0;
	padding: 10px;
}

#primaryNavigation ul.rinfo li.heading {
	color: #873960;
	border-bottom: 2px solid #873960;
}

#primaryNavigation ul.turnHere li.heading {
	color: #bd9b44;
	border-bottom: 2px solid #bd9b44;
}

#primaryNavigation ul.learnMore li.heading {
	color: #006383;
	border-bottom: 2px solid #006383;
}


/* =ARTICLE in content */
body article {
    position: relative;
    width: 720px;
    margin: 0;
    background-color: #fff;
}

body article.editorial {
	float: left;
    width: 471px;
}

body article.frontpage {
    width: 720px;
}

body article ul {
    margin: 0 0 1em 0;
    list-style-type: none;
}

body article ul li {
    margin: 0 0 1em 0;
}

body article img {
	margin: 1em;
}

body article img.alignleft {
	float: left;
	margin: 1em 1em 1em 0;
}

body article img.alignright {
	float: left;
	margin: 1em 0 1em 1em;
}

aside.puffs {
	float: right;
	width: 228px;
	margin: 0 0 1em 10px;
	padding-left: 10px;
	border-left: 1px solid #ddd;
}

body article.frontpage .puffs {
    clear: both;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    width: 100%;
    overflow: auto;
}

.puffs .puff {
	margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

body article.frontpage .puffs .puff {
    float: left;
    clear: none;
    border-left: 1px solid #ddd;
    border-top: none;
    margin: 0 0 0 8px;
    padding: 0 0 0 8px;
    width: 228px;
}

body article.frontpage .puffs .puff:first-child {
    border-left: none;
    margin: 0;
    padding: 0;
}

/* =FOOTER page footer */
body > footer {
    padding-top: 3em;
    font-size: 0.8em;
    overflow: auto;
}

body > footer > div p:first-child {
    margin-top: 0;
}

body > footer > div p {
    margin-top: 0.8em;
}

body > footer > nav, body > footer > div {
    width: 33%;
    display: block;
    float: left;
    height: 100%;
}

/* =SEARCH for search and search results */
#search {
	width: 100%;
	margin: 1em 0;
	padding: 0;
	font-weight: bold;
	color: #585858;
	height: 40px;
}

#search > *{
	height: 30px;
	width: 310px;
	margin-left: 5px;
	padding: 5px;
	border: 1px solid #ddd;
	display: block;
	float: left;
	background-color: #eee;
	/*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f2f2), to(#fff));*/
	background-image: -webkit-linear-gradient(top, #ddd, #f7f7f7, #fff);
	background-image:    -moz-linear-gradient(top, #ddd, #f7f7f7, #fff);
	background-image:     -ms-linear-gradient(top, #ddd, #f7f7f7, #fff);
	background-image:      -o-linear-gradient(top, #ddd, #f7f7f7, #fff);
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#search .input {
	clear: none;
	margin-top: 0;
	position: relative;
}

#search .input label {
	font-size: 0.9em;
	font-weight: normal;
	font-style: normal;
}

#cat {
	clear: none;
	margin-top: 0;
	display: inline;
	float: right;
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: #eee;
	border: 1px solid #ddd;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 16em;
	font-size: 0.9em;
	font-family: verdana, arial, helvetica, sans-serif;
}

#searchCategory {
	cursor: pointer;
	margin-left: 0;
}

#searchCurrentCategory {
	position: absolute;
	right: 0;
	bottom: 4px;
	padding-right: 20px;
	margin-right: 1em;
	font-size: 0.8em;
	cursor: pointer;
	background: transparent url(../images/arrow-down.png) no-repeat right center;
}

#searchCurrentCategory.active {
	background: transparent url(../images/arrow-up.png) no-repeat right center;
}

#searchCategoryList {
	position: absolute;
	left: 0;
	top: 41px;
	z-index: 10;
	background-color: #f7f7f7;
	padding: 0;
	font-weight: normal;
	border: 1px solid #ddd;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 14px #ddd;
	-moz-box-shadow: 3px 3px 14px #ddd;
	box-shadow: 3px 3px 14px #ddd;
	display: none;
}

#searchCategoryList li {
	padding: 1em;
	border-top: 1px solid #ddd;
	cursor: pointer;
}

#searchCategoryList li:first-child {
	border-top: none;
}

#searchCategoryList li:hover {
	background-color: #FFF9EB;
}

#query {
	width: 295px;
	padding-left: 15px;
	height: 25px;
	font-weight: normal;
	color: #888;
	border: 1px solid #ddd;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#searchSubmit {
	width: 65px;
	height: 42px;
	font-weight: bold;
	color: #585858;
	background-color: #eee;
	padding: 0;
}

#searchSubmit:active {
	background-image: -webkit-linear-gradient(top, #fff, #f7f7f7, #ddd);
	background-image:    -moz-linear-gradient(top, #fff, #f7f7f7, #ddd);
	background-image:     -ms-linear-gradient(top, #fff, #f7f7f7, #ddd);
	background-image:      -o-linear-gradient(top, #fff, #f7f7f7, #ddd);
}

.searchHidden {
	display: none;
}

.searchResults {
	padding-top: 0;
	border-top: 1px solid #eee;
}

.searchResults .showAllLabel {
	font-size: 0.8em;
	margin: 0 0 1em 0;
}

.searchResults .printLabel {
	font-size: 0.8em;
	margin: 0;
	float: right;
	display: block;
}

.searchResults .query {
	font-weight: bold;
	color: #873960;
}

.searchResults > p {
	margin: 1em 0;
}

.searchResults p {
	margin-bottom: 1em;
}

.searchResults .column {
	width: 350px;
	float: left;
	margin: 0;
	padding: 0;
}

.searchResults .column.first {
	margin-right: 20px;
}

.searchResults .column p {
	margin: 1em 0 0 0;
}

.searchResults .count {
	color: #888;
}

.searchResults a.catTitle {
	color: #006383;
	font-weight: bold;
}

.searchResults table td, .searchResults table th {
	min-width: 12em;
}

.searchResults ul {
	width: auto;
	margin-bottom: 2em;
	background-color: #fafafa;
	border-top: 2px solid #ddd;
}

.searchResults ul li {
	padding: 5px;
	border-top: 1px solid #eee;
}

.searchResults ul li p {
	margin: 0 0 0.5em 0;
	color: #333;
}

.searchResults ul li p.type, table .type {
	color: #888;
}

/*.searchResults ul li:nth-child(odd) {
	background-color: #fcfcfc;
	border-top: 1px solid #eee;
}*/

.searchResults ul li.showAll {
	background-color: #fff;
	margin-top: 0.5em;
	border-top: 1px solid #eee;
}

/* =Extended Search */
#extSearchCats {
	background-color: #f7f7f7;
	border: 1px solid #eee;
	padding: 1em;
}

fieldset .inputGroup {
	float: left;
	margin: 0 0 1em 1em;
}

fieldset .inputGroup input {
	width: auto;
	display: block;
	float: left;
}

fieldset .inputGroup label {
	display: block;
	margin-left: 2em;
	width: 190px;
}

fieldset .inputGroup label.text {
	display: block;
	margin-left: 0em;
	width: 190px;
}

.extendedSearch {
	padding: 1em 0;
    border-top: 1px solid #eee;
}

.extendedSearch fieldset {
	border: none;
	border-top: 1px solid #eee;
	padding: 1em;
	margin-top: 1em;
}

.extendedSearch fieldset input {
	float: left;
}

.extendedSearch fieldset input[type=date] {
    position: relative;
    clear: none;
}

.extendedSearch fieldset > label {
	min-height: 4em;
}

.extendedSearch fieldset label.date {
	float: left;
	width: auto;
	padding: 4px 1em 4px 0;
	margin-left: 1em;
}

.extendedSearch #lagstatus {
	border: none;
	border-top: none;
	float: right;
	width: 250px;
}
.extendedSearch #lagstatus p {
	margin-top: 0em;
}

.extendedSearch > label {
	margin-top: 1em;
}

.extendedSearch .buttons {
	text-align: right;
	width: 100%;
	overflow: auto;
	margin-top: 0;
}

#extendedSearchSubmit {
	display: block;
	padding: 0.75em 1.5em;
	background-color: #eee;
	background-image: -webkit-linear-gradient(top, #ddd, #f7f7f7, #fff);
	background-image:    -moz-linear-gradient(top, #ddd, #f7f7f7, #fff);
	background-image:     -ms-linear-gradient(top, #ddd, #f7f7f7, #fff);
	background-image:      -o-linear-gradient(top, #ddd, #f7f7f7, #fff);
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ddd;
	font-weight: bold;
	float: right;
	width: auto;
}

/* ARTICLE in rinfo */
#rinfo {
	width: 500px;
}

#rinfo table {
	border: none;
}

#rinfo table td.label {
	font-weight: bold;
	padding-left: 0;
}

#rinfo table ul li {
	margin: 0;
}

#rinfoSidebar {
	width: 190px;
	position: relative;
	float: left;
	margin: 1em 0 1em 20px;
	padding: 5px;
	background-color: #fcfcfc;
	border-top: 1px solid #ddd;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f2f2), to(#fff));
	background-image: -webkit-linear-gradient(top, #f2f2f2, #fff);
	background-image:    -moz-linear-gradient(top, #f2f2f2, #fff);
	background-image:     -ms-linear-gradient(top, #f2f2f2, #fff);
	background-image:      -o-linear-gradient(top, #f2f2f2, #fff);
}

#rinfoSidebar ul {
	margin-bottom: 2em;
}

#rinfoSidebar ul li {
	padding: 0;
}

#rinfoSidebar ul li.label{
	font-weight: bold;
	padding: 0.5em 0 0 0;
}

/* =Log in special */
#remember_me_holder label {
	clear: none;
	display: inline;
	width: auto;
}

/* =MEDIA-QUERIES */
/* For all narrow devices and screens */
@media all and (max-width: 480px) {
	body {
	    position: relative;
	    width: 100%;
	    margin: 0;
	    padding: 2% 0 0 0;
	    font-size: 17px;
	}

	#siteHeader {
		float: none;
		width: 100%;
		margin: 0;
		left: 0;
	}
	
	#logo {
	    margin: 0;
	    clear: both;
	    margin: 0 5%;
	    padding: 2% 0 0 0;
	    float: none;
	}
	
	#mobileNavLink {
		display: block;
		position: absolute;
		top: 1em;
		right: 5%;
	}
	
	#sitelinks {
		display: none;
		clear: both;
	    position: relative;
	    width: 90%;
	    margin: 1em 5%;
	    overflow: auto;
	}
	
	#sitelinks ul li {
		float: left;
		margin: 0;
		border-left: none;
		padding-left: 0;
	}
	
	#breadcrumbs {
		margin: 1em 5%;
	}
	
	#content {
		left: 0;
		width: auto;
		margin: 0;
	}
		
	#primaryNavigation {
		float: none;
		position: static;
		width: auto;
		margin: 1em 5%;
		min-height: auto;
	}
	
	#searchCategory {
		width: auto;
		margin: 0 5% 0.5em 5%;
		float: none;
		height: 4em;
	}
	
	#searchQuery {
		width: 70%;
		text-align: center;
	}
	
	#search #query {
		width: 95%;
		margin: 0;
		padding: 0;
	}
	
	#search #searchSubmit {
		float: right;
		margin: 0 5% 0 2%;
		width: 15%;
	}
	
	#search > *{
		margin-left: 5%;
	}
	
	#siteHeader > p.extSearchLabel {
		clear: both;
		margin: 1em 5% 0 0;
	}
	
	body article {
		width: auto;
		float: none;
		margin: 1em 5%;
		clear: both;
	}
	
	body article:first-child {
		float: none;
	}
	
	#siteFooter {
		width: auto;
		margin: 1em 5%;
	}
	
	.searchResults table td, .searchResults table th {
		min-width: 0;
		max-width: 50%;
	}
	
	fieldset .inputGroup label {
		overflow: hidden;
		width: auto;
	}
}