/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td {
  border:0pt none;
  font-family:inherit;
  font-size:100%;
  font-style:inherit;
  font-weight:inherit;
  margin:0pt;
  padding:0pt;
  vertical-align:baseline;
}

/* HTML5 tags */
header, section, footer, aside, nav, article, figure, legend {
    display: block;
}

/* lagrummet.se */
html {
	background-color: #fff;
	margin: 0;
	height: 101%;
}

body {
    position: relative;
    width: 980px;
    margin: 0 auto 0 auto;
    padding: 5px 0 0 0;
    position: relative;
    font: 12px verdana, arial, helvetica, sans-serif;
    line-height: 140%;
	background: url(../images/top_ribbon.png) no-repeat;
	color: #111;
}

a {
    text-decoration: none;
    color: #006383;
}

a:visited {
    color: #195062;
}

a:hover {
    text-decoration: underline;
    color: #006383;
}

a.external, a[href^="http"] {
    padding-right: 12px;
    background: url(../images/external_link.gif) top right no-repeat;
}

a[href*="lagrummet.se"], a.image {
    padding-right: 0;
    background: none;
}

a.toggleLink {
	cursor: pointer;
	font-size: 0.9em;
}

h1, h2, h3, h4,h1 a, h2 a, h3 a, h4 a {
    margin: 0.75em 0 0.25em 0;
    color: #873960;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    clear: both;
    text-decoration: none;
    line-height: 110%;
}

h1 a, h2 a, h3 a, h4 a, h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited {
    color: #006383;
}

h1 {
	margin: 0 0 1em 0;
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
    color: #222;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
    font-style: italic;
    color: #222;
}

h5 {
    font-size: 1em;
    font-weight: bold;
}

p {
	margin-bottom: 1.1em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.target {
	cursor: pointer;
}

.hidden {
	display: none;
}

.break {
	clear: both;
}

ul {
    margin-left: 0;
    list-style-type: none;
}

ul li {
    padding: 2px 0;
}

.message {
	border: 1px solid #F0C000;
	padding: 1em;
	background-color: #FFFFCE;
	margin-bottom: 1em;
}

.message ul, .message ul li {
	border-top: none;
	margin: 0;
	margin-bottom: 0;
	background-color: none;
}

table {
	width: auto;
	margin-bottom: 2em;
	background-color: #fff;
	border-spacing: 0;
}

tr {
    border: 0;
}

tr:nth-child(even) {
	background-color: #fafafa;
	border-top: 1px solid #eee;
}

td, th {
	padding: 5px;
}

td {
    border-top: 1px solid #eee;
}

tr:first-child td {
    border-top: none;
}

th {
    font-weight: bold;
    text-align: left;
}

/*body > * {
    position: relative;
    width: 980px;
    margin: 0 auto 0 auto;
    padding: 0;
}*/

/* =FORMS */
form label {
	width: 100%;
	display: block;
}

form .buttons:not(#contact .buttons) {
	width: 100%;
	clear: both;
	margin-top: 1.5em;
}

form .input {
	clear: both;
	display: block;
	margin-top: 1.5em;
}

form .input:first-child {
	margin-top: 0;
}

fieldset .legend {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 1em 1em 1em;
}

a.nextLink {
	margin-left: 0.75em;
}

a.step, .currentStep {
	margin-left: 0.5em;
}

/* =HEADER */
#siteHeader {
	width: 720px;
	position: relative;
	margin-left: 40px;
	left: 220px;
}

#siteHeader > p.extSearchLabel {
	float: right;
	margin-bottom: 1em;
	height: 16px;
}

#siteHeader > p.extSearchLabel a {
    display:none;
}

#logo {
    width: 220px;
    float: left;
    margin: 0;
    padding: 20px 0 20px 0;
    display: block;
    color: #222;
    font: 1.6em 'Trebuchet MS', Helvetica, sans-serif;
    background-color: #fcfcfc;
    /*padding: 55px 10px 45px 10px;*/
}

#logo a, #logo a:visited {
	color: #873960;
	margin-left: 10px;
}

#logo a .hlight, #logo a .hlight {
    color: #888;
}

#mobileNavLink {
	display: none;	
}

#sitelinks {
    position: absolute;
    top: 0px;
    right: 0px;
}

#sitelinks ul li {
	float: left;
	margin: 5px 0 0 5px;
	padding-left: 10px;
	border-left: 1px solid #006383;
}

#sitelinks ul li:first-child {
	border-left: none;
}

#sitelinks a, #sitelinks a:visited {
    color: #006383;
    margin-right: 10px;
}

#breadcrumbs {
	width: auto;
	top: 2em;
	position: absolute;
	font: 1.2em 'Century Gothic', sans-serif;
}

a.print:visited {
	color: #006383;
}

/* =CONTENT WRAPPER */
#content {
	position: relative;
	left: 220px;
	margin-left: 40px;
	width: 720px;
	clear: both;
	overflow: auto;
	display: block;
}

#content a {
	text-decoration: underline;
}

#content a:hover {
	background-color: #eee;
}

/* =PRIMARY NAVIGATION */
#primaryNavigation {
	position: absolute;
	left: 0;
	top: 60px;
	width: 220px;
	height: 100%;
	margin: 0;
	display: block;
	min-height: 250px;
	background-color: #fcfcfc;
	padding-bottom: 1em;
	/*-webkit-box-shadow: 2px 2px 6px #ccc;
	-moz-box-shadow: 1px 1px 6px #ccc;
	box-shadow: 2px 2px 6px #ccc;
	-moz-border-radius: 10px;
	border-radius: 10px;*/
}

#primaryNavigation ul li {
	margin: 10px;
	border-bottom: 2px groove #fff;
}

#primaryNavigation ul li.active {
	font-weight: bold;
}

#primaryNavigation ul li a, #primaryNavigation ul li a:visited {
	color: #585858;
}

#primaryNavigation ul li a:hover {
	background-color: #e7e7e7;
	text-decoration: none;
}

#primaryNavigation ul li.heading {
	font: 1.4em 'Century Gothic', sans-serif;
	font-weight: bold;
	margin: 20px 0 0 0;
	padding: 10px;
}

#primaryNavigation ul.huvudmeny1 li.heading {
	color: #873960;
	border-bottom: 2px solid #873960;
}

#primaryNavigation ul.huvudmeny2 li.heading {
	color: #bd9b44;
	border-bottom: 2px solid #bd9b44;
}

#primaryNavigation ul.huvudmeny3 li.heading {
	color: #006383;
	border-bottom: 2px solid #006383;
}


/* =ARTICLE in content */
article {
    position: relative;
    width: 720px;
    margin: 0;
    background-color: #fff;
}

article.editorial {
	float: left;
    width: 471px;
}

article.frontpage {
    width: 720px;
}

article.editorial ul, article.editorial ol {
    margin: 0 0 1em 1em;
}

article.editorial ul {
    list-style-type: disc;
}

article.editorial ul li, article.editorial ol li {
    margin: 0 0 0 1em;
}

article.editorial img {
	margin: 1em;
}

article.editorial img.alignleft {
	float: left;
	margin: 1em 1em 1em 0;
}

article.editorial img.alignright {
	float: right;
	margin: 1em 0 1em 1em;
}

article.editorial img.pdfIcon {
	margin: 0 3px 0 0;
}

article .reviewed {
	font-style: italic;
	color: #555;
	display: block;
	margin-bottom: 1.1em;
	clear: both;
}

article.editorial button {
	margin-left: 2px;
	padding: 1em 1.5em;
	border: 1px solid #ddd;
	background-color: #eee;
	background: url(../images/ddd-fff-gradient-40px.png) repeat-x;
	background-image: -webkit-linear-gradient(top, #ddd, #f7f7f7, #fff);
	background-image:    -moz-linear-gradient(top, #ddd, #f7f7f7, #fff);
	background-image:     -ms-linear-gradient(top, #ddd, #f7f7f7, #fff);
	background-image:      -o-linear-gradient(top, #ddd, #f7f7f7, #fff);
	-moz-border-radius: 5px;
	border-radius: 5px;
}

article.editorial button:hover {
	background-image: -webkit-linear-gradient(top, #c7c7c7, #f7f7f7, #fff);
	background-image:    -moz-linear-gradient(top, #c7c7c7, #f7f7f7, #fff);
	background-image:     -ms-linear-gradient(top, #c7c7c7, #f7f7f7, #fff);
	background-image:      -o-linear-gradient(top, #c7c7c7, #f7f7f7, #fff);
}

article.editorial button:active {
	background-image: -webkit-linear-gradient(top, #fff, #f7f7f7, #ddd);
	background-image:    -moz-linear-gradient(top, #fff, #f7f7f7, #ddd);
	background-image:     -ms-linear-gradient(top, #fff, #f7f7f7, #ddd);
	background-image:      -o-linear-gradient(top, #fff, #f7f7f7, #ddd);
}

.puff h3 {
	margin: 0 0 1em 0;
}

#puffs .puff h3 a {
	text-decoration:none;
}
#puffs .puff h3 a:hover {
	text-decoration: underline;
}

aside.puffs {
	float: right;
	width: 228px;
	margin: 0 0 1em 10px;
	padding-left: 10px;
	border-left: 1px solid #ddd;
}
aside.puffs .puff:first-child {
	margin-top:0px;
}

aside.puffs .puff img {
   	height: auto; 
	width: 100%;
	margin: 0;
}

aside.puffs .puff ul {
   	list-style-type: disc;
   	padding-left: 1.5em;
   	margin-left: 0.5em;
}

aside.puffs .puff ol {
   	padding-left: 1.75em;
   	margin-left: 0.5em;
}

article.frontpage .puffs {
    clear: both;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    width: 100%;
    overflow: auto;
}

.puffs .puff {
	margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

article.frontpage .puffs .puff {
    float: left;
    clear: none;
    border-left: 1px solid #ddd;
    border-top: none;
    margin: 0 0 0 8px;
    padding: 0 0 0 8px;
    width: 228px;
}

article.frontpage .puffs .puff:first-child {
    border-left: none;
    margin: 0;
    padding: 0;
}

article.frontpage .puffs .puff img {
   	height: auto; 
	width: 100%;
	margin: 0;
}

article.editorial #pageTree h3 {
	margin-bottom: 0;
	margin-top: 1em;
}

article.editorial #pageTree ul {
	color: #006383;
	list-style-type: none;
}

article.editorial #pageTree ul, article.editorial #pageTree ul li {
	padding-left: 0;
	margin-left: 0;
}

#ordlista {
	list-style-type: none;
}

#ordlista li {
	float: left;
	margin-left: 1em;
}

/* =FAQ template */
article.faq {
    width: 720px;
}

article.faq .row {
	clear: both;
}

article.faq .row nav {
	float: left;
	width: 40%;
	margin-left: 10%;
}

article.faq .row nav:first-child {
	margin-left: 0;
}

article.faq .answer {
	width: 35em;
	border-bottom: 1px solid #ddd;
	margin-bottom: 1em;
	overflow: auto;
}

article.faq .answer a.returnToTop {
	float: right;
}

article.legalSources {
	width: 720px;;
}

.legalSourceContainer {
	position: relative;
}

article.legalSources section {
	width: 48%;
	float: left;
	clear: left;
}

article.legalSources section.Foreskrifter {
	float: right;
	margin-left: 2%;
	clear: none;
}

article.legalSources section.Foreskrifter h2 {
	margin-top: 0;
}

#ordlista {
	margin: 1em 0;
	width: 100%;
	overflow: auto;
	
}
#ordlista li {
	margin-left: 0.5em;
}
#ordlista li:first-child {
	margin-left: 0;
}

/* Contact form */
#contact {
	position: relative;
	margin: 1em 0;
	width: 100%;
	overflow: hidden;
}

#contact input, #contact select {
	width: 16em;
        margin-bottom: 1em;
}

#contact #contactInfo {
	clear: both;
}

#contact #message {
	clear: both;
}

#contact #message textarea {
	width: 98%;
	height: 11.8em;
	resize: none;
}

#contact .buttons {
	width: 100%;
	clear: both;
	overflow: hidden;
}

#contact .buttons button {
	float: right;
	margin: 1em 0;
}

#contact .required {
	color: #A44C45;
}

/* =FOOTER page footer */
#siteFooter {
    padding-top: 1em;
    overflow: auto;
    border-top: 2px solid #BD9B44;
    clear: both;
    margin: 1em 0;
}

#siteFooter a, #siteFooter a:visited {
	color: #333;
	text-decoration: none;
}

#siteFooter ul {
	width: 33.3%;
	float: left;
}

/*
#siteFooter ul.contact {
	float: right;
}
*/

#siteFooter ul.contact {
    display: none;
}

#siteFooter ul li {
	margin: 0 10px;
}

#siteFooter ul:first-child li {
	margin-left: 0;
}

#siteFooter ul li.heading {
	font-weight: bold;
}

#siteFooter #version {
	clear: both;
	text-align: right;
}

/*
#siteFooter > div p:first-child {
    margin-top: 0;
}

#siteFooter > div p {
    margin-top: 0.8em;
}

#siteFooter > nav,#siteFooter > div {
    width: 33%;
    display: block;
    float: left;
    height: 100%;
}

*/
/* =SEARCH for search and search results */
#search {
	width: 100%;
	margin: 1em 0;
	padding: 0;
	font-weight: bold;
	color: #585858;
	height: 40px;
	clear: both;
}

#search > *{
	height: 30px;
	width: 314px;
	margin-left: 1px;
	padding: 5px;
	border: 1px solid #ddd;
	display: block;
	float: left;
	background-color: #eee;
	background: url(../images/ddd-fff-gradient-40px.png) repeat-x;
	background-image: -webkit-linear-gradient(top, #ddd, #f7f7f7, #fff);
	background-image:    -moz-linear-gradient(top, #ddd, #f7f7f7, #fff);
	background-image:     -ms-linear-gradient(top, #ddd, #f7f7f7, #fff);
	background-image:      -o-linear-gradient(top, #ddd, #f7f7f7, #fff);
	background-image: 	      linear-gradient(top, #ddd, #f7f7f7, #fff);
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#search .input {
	clear: none;
	margin-top: 0;
	position: relative;
}

/*#search .input label {
	font-size: 0.9em;
	font-weight: normal;
	font-style: normal;
}*/

#cat {
	clear: none;
	margin-top: 0;
	display: inline;
	float: right;
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: #eee;
	border: 1px solid #ddd;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 16em;
	font-size: 0.9em;
	font-family: verdana, arial, helvetica, sans-serif;
}

#searchCategory {
	cursor: pointer;
	margin-left: 0;
}

#searchCategory:hover, #searchSubmit:hover, #extendedSearchSubmit:hover {
	background-image: -webkit-linear-gradient(top, #c7c7c7, #f7f7f7, #fff);
	background-image:    -moz-linear-gradient(top, #c7c7c7, #f7f7f7, #fff);
	background-image:     -ms-linear-gradient(top, #c7c7c7, #f7f7f7, #fff);
	background-image:      -o-linear-gradient(top, #c7c7c7, #f7f7f7, #fff);
	background-image: 		  linear-gradient(top, #c7c7c7, #f7f7f7, #fff);
}

#searchCategory:active, #searchSubmit:active, #extendedSearchSubmit:active {
	background-image: -webkit-linear-gradient(top, #fff, #f7f7f7, #ddd);
	background-image:    -moz-linear-gradient(top, #fff, #f7f7f7, #ddd);
	background-image:     -ms-linear-gradient(top, #fff, #f7f7f7, #ddd);
	background-image:      -o-linear-gradient(top, #fff, #f7f7f7, #ddd);
	background-image: 	      linear-gradient(top, #fff, #f7f7f7, #ddd);
}

#searchCurrentCategory {
	position: absolute;
	left: 5px;
	bottom: 2px;
	padding-left: 20px;
	margin-right: 1em;
	font-size: 0.8em;
	cursor: pointer;
	font-weight: normal;
	background: transparent url(../images/arrow-down.png) no-repeat left center;
}

#searchCurrentCategory.active {
	background: transparent url(../images/arrow-up.png) no-repeat left center;
}

#searchCategoryList {
	position: absolute;
	left: 0;
	top: 41px;
	z-index: 10;
	background-color: #f7f7f7;
	padding: 0;
	font-weight: normal;
	border: 1px solid #ddd;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 14px #ddd;
	-moz-box-shadow: 3px 3px 14px #ddd;
	box-shadow: 3px 3px 14px #ddd;
	display: none;
}

#searchCategoryList li {
	padding: 1em;
	border-top: 1px solid #ddd;
	cursor: pointer;
}

#searchCategoryList li p {
	margin: 0;
}

#searchCategoryList li:first-child {
	border-top: none;
}

#searchCategoryList li:hover {
	background-color: #FFF9EB;
}

#searchCategoryList li.selected {
	background-color: #FFF9EB;
	cursor: default;
}

#query {
	width: 622px;
	padding-left: 15px;
	height: 25px;
	font-weight: normal;
	color: #888;
	border: 1px solid #ddd;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#searchSubmit {
	width: 65px;
	height: 42px;
	font-weight: bold;
	color: #585858;
	background-color: #eee;
	padding: 0;
}

#searchSubmit:active {
	background-image: -webkit-linear-gradient(top, #fff, #f7f7f7, #ddd);
	background-image:    -moz-linear-gradient(top, #fff, #f7f7f7, #ddd);
	background-image:     -ms-linear-gradient(top, #fff, #f7f7f7, #ddd);
	background-image:      -o-linear-gradient(top, #fff, #f7f7f7, #ddd);
}


#searchQuery {
	position: relative;
	width: 640px;
}

#searchSuggestions {
	position: absolute;
	display: none;
	background-color: #fff;
	width: 310px;
	top: 35px;
	z-index: 10;
	border: 1px solid #eee;
}

#searchSuggestions li {
	padding: 0.5em 0.5em 0.1em 0.5em;
}

#searchSuggestions li a, #searchSuggestions li a:hover {
	font-weight: normal;
	text-decoration: none;
	color: #888;
}

#searchSuggestions li:hover, #searchSuggestions li:hover a, #searchSuggestions li.active a:visited {
	background-color: #b2d0da;
	color: #333;
}

#searchSuggestions li.active,  #searchSuggestions li.active:hover a {
	background-color: #006283;
}

#searchSuggestions li.active a, #searchSuggestions li.active a:visited {
	color: #fff;
}

.searchHidden {
	display: none;
}

.searchResults {
	padding-top: 0;
	border-top: 1px solid #eee;
	overflow: auto;
}

.searchResults .showAllLabel {
	font-size: 0.8em;
	margin: 0 0 1em 0;
}

.searchResults .printLabel {
	font-size: 0.8em;
	margin: 0;
	float: right;
	display: block;
	padding-left: 20px;
	background: url(../images/Printer_Icon.png) center left no-repeat;
}

#content .searchResults .showAllLabel a,
#content .searchResults .printLabel a {
	text-decoration: none;
}

.searchResults .query {
	font-weight: bold;
	color: #873960;
}

.searchResults > p {
	margin: 1em 0;
}

.searchResults p {
	margin-bottom: 1em;
}

.searchResults .column {
	width: 350px;
	float: left;
	margin: 0;
	padding: 0;
}

.searchResults .column.first {
	margin-right: 20px;
}

.searchResults .column p {
	margin: 1em 0 0 0;
}

.searchResults .count {
	color: #888;
}

#content .searchResults .catTitle {
	color: #006383;
	font-weight: bold;
	text-decoration: none;
}

.searchResults table td, .searchResults table th {
	min-width: 12em;
}

.searchResults .column ul {
	width: auto;
	margin-bottom: 2em;
	background-color: #fafafa;
	border-top: 2px solid #ddd;
}

.searchResults .column ul li {
	padding: 5px;
	border-top: 1px solid #eee;
}

.searchResults .column ul li p {
	margin: 0 0 0.5em 0;
	color: #333;
}

.searchResults .column ul li p.type, table .type {
	color: #888;
}

/*.searchResults ul li:nth-child(odd) {
	background-color: #fcfcfc;
	border-top: 1px solid #eee;
}*/

.searchResults ul li.showAll {
	background-color: #fff;
	margin-top: 0.5em;
	border-top: 1px solid #eee;
}

#searchHelpPuff {
	margin-top: 1em;
	clear: both;
	width: 100%;
}

/* =Extended Search */
#extSearchCats {
	background-color: #f7f7f7;
	border: 1px solid #eee;
	padding: 1em;
}

fieldset .inputGroup {
	float: left;
	margin: 0 0 1em 1em;
}

fieldset .inputGroup input {
	width: auto;
	display: block;
	float: left;
}

fieldset .inputGroup label {
	display: block;
	margin-left: 2em;
	width: 190px;
}

fieldset .inputGroup label.text {
	display: block;
	margin-left: 0em;
	width: 190px;
}

fieldset .inputGroup p {
	margin-bottom: 0.5em;
}

.extendedSearch {
	padding: 1em 0;
    border-top: 1px solid #eee;
}

.extendedSearch fieldset {
	border: none;
	border-top: 1px solid #eee;
	padding: 1em;
	margin-top: 1em;
}

.extendedSearch fieldset input {
	float: left;
}

.extendedSearch fieldset input[type=date] {
    position: relative;
    clear: none;
}

.extendedSearch fieldset > label {
	min-height: 4em;
}

.extendedSearch fieldset label.date {
	float: left;
	width: auto;
	padding: 4px 1em 4px 0;
	margin-left: 0;
}

.extendedSearch #lagstatus {
	border: none;
	border-top: none;
	float: right;
	width: 250px;
}

.extendedSearch #lagstatus p {
	margin-top: 0em;
}

.extendedSearch > label {
	margin-top: 1em;
}

.extendedSearch .buttons {
	text-align: right;
	width: 100%;
	overflow: auto;
	margin-top: 0;
}

#extendedSearchSubmit {
	display: block;
	padding: 0.75em 1.5em;
	background-color: #eee;
	background-image: -webkit-linear-gradient(top, #ddd, #f7f7f7, #fff);
	background-image:    -moz-linear-gradient(top, #ddd, #f7f7f7, #fff);
	background-image:     -ms-linear-gradient(top, #ddd, #f7f7f7, #fff);
	background-image:      -o-linear-gradient(top, #ddd, #f7f7f7, #fff);
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ddd;
	font-weight: bold;
	float: right;
	width: auto;
}

.error {
	color: red;
	clear: both;
}

.extendedSearch .dateTab {
	border-bottom: 1px solid #EEE;
	padding: 1em;
	float: left;
}

.extendedSearch .dateTab.ikraft {
	width: 18em;
}

.extendedSearch .dateTab.utfardandeDatum {
	width: 28em;
}

.extendedSearch .dateTopCol {
	width: 100%;
	overflow: auto;
}

.extendedSearch .dateBottomCol {
	background-color: #F7F7F7;
	border: 1px solid #EEE;
	border-top: none;
	width: 50em;
	overflow: auto;
}

.extendedSearch .dateBottomCol > div {
	padding: 1em;
	float: left;
	margin: 0em;
}

.extendedSearch .focused {
	background-color: #F7F7F7;
	border: 1px solid #EEE;
	border-bottom:none;
	padding: 1em;
	float:left;
}

/* ARTICLE in rinfo */
#rinfo {
	/*width: 500px;*/
	width: 720px;
}

#rinfo table {
	border: none;
	float: left;
	width: 490px;
}

#rinfo table td.label {
	font-weight: bold;
	padding-left: 0;
}

#rinfo table ul li {
	margin: 0;
}

#rinfo div.preambel {
    display: none;
}

#rinfo #leftCol {
	width: 490px;
	float:left;
}
#rinfoSidebar {
	width: 210px;
	position: relative;
	float: right;
	padding: 5px;
	background-color: #fcfcfc;
	/*font-size: 11px;*/
	color: #585858;
}

#rinfoSidebar h3 {
	color: #000000;
	font-weight: bold;
	padding: 0.5em 0em 0.5em 0em;
	border-top: 1px solid #ddd;
}

#rinfoSidebar h3:first-child {
	padding-top: 0;
	border-top: none;
	margin-top: 0;
}

#rinfoSidebar .subtitle {
	font-style: italic;
}

#rinfoSidebar ul {
	margin-bottom: 2em;
	border-top: 1px solid #ddd;

}

#rinfoSidebar ul li {
	padding: 0;
}

#rinfoSidebar ul li.label{
	color: #000000;
	padding: 0.5em 0 0 0;
}

.disclaimer_sfs {
    font-style: italic;
}


/* =Log in special */
#remember_me_holder label {
	clear: none;
	display: inline;
	width: auto;
}

ul[id^="legalSource_"] > li > div {
	white-space: pre-line;
}

body#tinymce.mceContentBody {
	width: 100%;
}

/*change the margin abit for middle column to sync with puffs */
#siteFooter ul:nth-child(2) > li {
	margin-left: 5px;
}

div.Section1 > div > table.MsoTableGrid {
	text-align:left;
}

#searchCategory {
    display: none;
}

/* =MEDIA-QUERIES */
/* For all narrow devices and screens */

/* 
@media all and (max-width: 480px) {
	body {
	    position: relative;
	    width: 100%;
	    margin: 0;
	    padding: 2% 0 0 0;
	    font-size: 17px;
	}

	#siteHeader {
		float: none;
		width: 100%;
		margin: 0;
		left: 0;
	}
	
	#logo {
	    margin: 0;
	    clear: both;
	    margin: 0 5%;
	    padding: 2% 0 0 0;
	    width: auto;
	    float: none;
	    background-color: transparent;
	}
	
	#mobileNavLink {
		display: block;
		position: absolute;
		top: 1em;
		right: 5%;
	}
	
	#sitelinks {
		display: none;
		clear: both;
	    position: relative;
	    width: 90%;
	    margin: 1em 5%;
	    overflow: auto;
	}
	
	#sitelinks ul li {
		float: left;
		margin: 0;
		border-left: none;
		padding-left: 0;
	}
	
	#breadcrumbs {
		display: none;
	}
	
	#content {
		left: 0;
		width: auto;
		margin: 0;
	}
	
	#siteFooter ul, #siteFooter ul.contact {
		width: 100%;
		float: none;
		clear: both;
	}
	
	#siteFooter ul.contact {
		margin-top: 1em;
	}
	
	#siteFooter ul li {
		margin: 0;
	}
		
	#primaryNavigation {
		float: none;
		position: static;
		width: auto;
		height: auto;
		margin: 1em 5%;
		min-height: 0;
		padding-bottom: 1em;
	}
	
	#searchCategory {
		width: auto;
		margin: 0 5% 0.5em 5%;
		float: none;
		height: 3em;
	}
	
	#searchCategoryList li p {
		display: none;
	}
	
	#searchCategoryList li p:first-child {
		display: block;
	}
	
	#searchQuery {
		width: 70%;
		text-align: center;
	}
	
	#search #query {
		width: 95%;
		margin: 0;
		padding: 0;
	}
	
	#search #searchSubmit {
		float: right;
		margin: 0 5% 0 2%;
		width: 14.5%;
	}
	
	#search > *{
		margin-left: 5%;
	}
	
	#siteHeader > p.extSearchLabel {
		clear: both;
		margin: 1em 5% 1em 0;
	}
	
	body article {
		width: auto;
		float: none;
		margin: 1em 5%;
		clear: both;
	}
	
	body article:first-child {
		float: none;
	}
	
	#siteFooter {
		width: auto;
		margin: 1em 5%;
	}
	
	.searchResults table, .searchResults table td, .searchResults table th, .searchResults table tr {
		display: block;
	}
	
	.searchResults table td, .searchResults table th {
		width: auto;
		clear: both;
	}
	
	fieldset .inputGroup label {
		overflow: hidden;
		width: auto;
	}
	
	.extendedSearch #lagstatus {
		float: none;
		width: auto;
	}
	
	article.frontpage, article.faq {
	    width: auto;
	}
	
	article.frontpage .puffs {
		border-top: none;
		width: 100%;
	}
	
	article.frontpage .puffs .puff {
	    float: none;
	    clear: both;
	    border-left: none;
	    border-top: 1px solid #ddd;
	    margin: 0.5em 0;
	    padding: 0.5em 0;
	    width: auto;
	    min-width: 228px;
	}
	
	article.frontpage .puffs .puff:first-child {
	    margin: 0.5em 0;
	    padding: 0.5em 0;
	}
	
	article.faq .row nav {
		float: none;
		clear: both;
		width: auto;
		margin-left: 0;
	}
	
	article.faq .answer {
		width: auto;
	}
	
	article.legalSources {
		width: auto;
	}
	
	article.legalSources section {
		width: 100%;
		float: none;
		clear: both;
	}
	
	article.legalSources section.Foreskrifter {
		float: none;
		margin-left: 0;
		clear: both;
	}
}
*/