/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td {
  border:0pt none;
  font-family:inherit;
  font-size:100%;
  font-style:inherit;
  font-weight:inherit;
  margin:0pt;
  padding:0pt;
  vertical-align:baseline;
}

/* HTML5 tags */
header, section, footer, aside, nav, article, figure, legend {
    display: block;
}

/* lagrummet.se */
html {
	background-color: #fcfcfc;
	margin: 0;
	/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4FCFF), to(#f5f5f5));
	background: -webkit-linear-gradient(top, #F4FCFF, #f5f5f5);
	background: -moz-linear-gradient(top, #F4FCFF, #f5f5f5);
	background: -ms-linear-gradient(top, #F4FCFF, #f5f5f5);
	background: -o-linear-gradient(top, #F4FCFF, #f5f5f5);*/
}

body {
    width: 100%;
    padding: 0 1em 0 1em;
    position: relative;
    color: #383838;
    font: 12px verdana, arial, helvetica, sans-serif;
    line-height: 140%;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #006383;
}

a:visited {
    color: #006383;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4,h1 a, h2 a, h3 a, h4 a {
    margin: 0.5em 0 0.5em 0;
    color: #006383;
    font-family: 'Century Gothic', sans-serif;
    clear: both;
    text-decoration: none;
}

h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

ul {
    margin-left: 0;
    list-style-type: none;
}

ul li {
    padding: 2px 0;
}

table {
    margin-top: 10px;
    border: 1px solid #ccc;
    width: 100%
}
tr {
    border: 0;
}
td, th {
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    color: #585858;
    background-color: #D29400;
    /*font-weight: bold;*/
    font-style: italic;
    font-size: 1.2em;
    line-height: 17px;
    padding: 2px 6px;
}

body > * {
    position: relative;
    width: 980px;
    margin: 0 auto 0 auto;
    padding: 0;
}

/* =HEADER */
body > header {
}

#logo {
    position: relative;
    margin-top: 20px;
    display: block;
    color: #222;
    font: 1.6em 'Century Gothic', sans-serif;
    /*padding: 55px 10px 45px 10px;*/
}

body > header > nav.sitelinks {
    position: absolute;
    top: 0px;
    right: 0px;
}

body > header > nav.sitelinks ul li {
	float: left;
	margin: 5px 0 0 5px;
	padding-left: 10px;
	border-left: 1px solid #006383;
}

body header nav.sitelinks ul li:first-child {
	border-left: none;
}

body > header > nav.sitelinks a, body > header > nav.sitelinks a:visited {
    font: 1em 'Century Gothic', sans-serif;
    color: #006383;
    margin-right: 10px;
}

body > header > nav.breadcrumbs {
	clear: both;
	width: 100%;
	margin: 20px 0;
	font: 1.4em 'Century Gothic', sans-serif;
}

/* =CONTENT WRAPPER */

/* =PRIMARY NAVIGATION */
#primaryNavigation {
	float: left;
	width: 220px;
	margin: 0;
	display: block;
	min-height: 250px;
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 6px #ccc;
	-moz-box-shadow: 1px 1px 6px #ccc;
	box-shadow: 2px 2px 6px #ccc;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#primaryNavigation ul li {
	padding: 10px 5px;
	border-bottom: 1px solid #e7e7e7;
}

#primaryNavigation ul li a, #primaryNavigation ul li a:visited {
	color: #585858;
}

#primaryNavigation ul li:hover {
	background-color: #f5f5f5;
}

#primaryNavigation ul li.active {
	background-color: #e7e7e7;
}

#primaryNavigation ul li.heading {
	font: 1.4em 'Century Gothic', sans-serif;
	margin-top: 20px;
}

#primaryNavigation ul.rinfo li.heading {
	color: #873960;
	border-bottom: 2px solid #873960;
}

#primaryNavigation ul.turnHere li.heading {
	color: #bd9b44;
	border-bottom: 2px solid #bd9b44;
}

#primaryNavigation ul.learnMore li.heading {
	color: #006383;
	border-bottom: 2px solid #006383;
}


/* =ARTICLE in content */
body article {
    position: relative;
    width: 700px;
    margin: 0 0 0 40px;
    padding: 10px;
    background-color: #fff;
    float: left;
	-webkit-box-shadow: 2px 2px 6px #ccc;
	-moz-box-shadow: 1px 1px 6px #ccc;
	box-shadow: 2px 2px 6px #ccc;
}

body article > header {
    margin: 0 0 20px 0;
}

body article ul {
    margin: 0 0 1em 0;
    list-style-type: none;
}

body article ul li {
    margin: 0 0 1em 0;
}

/* =FOOTER page footer */
body > footer {
    padding-top: 3em;
    font-size: 0.8em;
    overflow: auto;
}

body > footer > div p:first-child {
    margin-top: 0;
}

body > footer > div p {
    margin-top: 0.8em;
}

body > footer > nav, body > footer > div {
    width: 33%;
    display: block;
    float: left;
    height: 100%;
}

/* =ARTICLE-SEARCH for search and search results */
body > article .content form.search input {
    font-size: 1.4em;
    color: #888;
}

body > article .content form.search span.button input {
    color: #444;
}

body > article ul.search-results {
    list-style-type: none;
}

body > article ul.search-results li {
    border-bottom: 1px solid #ccc;
    overflow: auto;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

body > article ul.search-results li img.tn {
    float: left;
}

body > article ul.search-results li p {
    float: left;
    margin: 0 5px 0 5px;
}